<div class="row justify-content-center align-items-center g-2">
    <h1>Proyectos <i routerLink="/nuevoproyecto" *ngIf="isLogged" class="bi bi-plus"></i></h1>
    <div class="row row-cols-1 row-cols-md-3 g-4" *ngFor="let Proyecto of proyecto">

        <div class="card h-100">
            <img src={{Proyecto.imgP}} class="card-img-top" alt="...">

            <div>
                <!-- editar icon -->
                <i routerLink="/editproyecto/{{Proyecto.id}}" *ngIf="isLogged" class="bi bi-pencil"></i>
                <!-- delete icon -->
                <i (click)="delete(Proyecto.id)" *ngIf="isLogged" class="bi bi-trash3-fill"></i>
            </div>

            <div class="card-body">
                <h5 class="card-title">{{Proyecto.nombre}}</h5>
                <p class="card-text">{{Proyecto.descripcion}}</p>
            </div>
        </div>

    </div>

</div>